	<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		 
	
        <title>Click n Co Pure Front</title>

		<script type="text/javascript" src="main.js"></script>


        
         <!--Vue js-->
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

		<!--Bootstrap -->
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
         

<link rel="stylesheet" type="text/css" href="style.css">	
	</head>
	


	<body>
			<!-- Testlogin/-->
       <div id ="app"> 
          <div class="container">  
         <div class="row">
             <p class="jumbotron">Login: <input type="text" v-model="user"/> | Vous êtes connecté en tant que {{ user }}</p> 

       	</div>

<!-- Affichage du panier-->
<h1 class="display-4">Liste de courses</h1> 
<ul>
	<li v-for="commande in commandes">{{ commande }}</li> 
</ul>	
	<!-- J'ai tout simplement rempli le tableau avec ma fonction-->

        <h1 class="display-4"> Matos dispo</h1>
       	<div class="row">
       		<div class="col-3" v-for="produit in produits">
       			<p class="jumbotron">
                       
                       {{ produit }}<br/>
                     <button v-on:click="commander(produit)">Commander</button>  <!--Listener-->
       			</p>

       	</div>
       </div>
      </div>
  </div>
      <script>
           var app = new Vue ({ // Ceci est important vue est synchronisé//
           	el: "#app", 
           	data: {   //Les données de l'élement (el) //
           		user: "Bob", //utilisateur//
           		produits: ["Viandes","Bières","Café","Fruits", "Vin Rouge", "Vin Blanc","Légumes Bio", "Epices",], //tableau de produits//
           		commandes: [] //tableau de commandes, panier //
           	
           	},
           	methods:{  //instance//
                 commander: function(produit){ 
                 	this.commandes.push(produit); //pousse les produits sélectionnés dans le tableau commandes//
                 }
            }
           })
      </script>

	
	</body>
	</html>